﻿@{
    ViewBag.Title = "Home";
}

@section Scripts {
    <script src="~/Assets/scripts/Home/index.js"></script>
}

@section Templates {
    @Html.Partial("Templates/_UserList");
    @Html.Partial("Templates/_UserDetails");
}

<section id="home">
    
    <div class="row">
        <div class="col-md-12">
            <div id="listing"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <span id="result"></span>
        </div>
    </div>

</section>
