﻿
<script type="text/x-tmpl" id="tmpl-userdetails">

    <div class="row">
        <img src="{%=o.ImageUrl%}" />
    </div>
    <div class="row">
        ID: {%=o.UserId%}
    </div>
    <div class="row">
        Name : {%=o.Name%}
    </div>
    <div class="row">
        Reputation: {%=o.Reputation%}
    </div>
    <div class="row">
        Location: {%=o.Location%}
    </div>
    <div class="row">
        CreationDate: {%=o.CreationDate%}
    </div>

</script>