﻿
<script type="text/x-tmpl" id="tmpl-userlist">

        {% for (var i = 0; i < o.Users.length; i++) 
            { %}
                <div class="panel panel-default" id="{%=o.Users[i].UserId%}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{%=o.Users[i].ImageUrl%}" />
                            </div>
                            <div class="col-md-6">
                                Name : {%=o.Users[i].Name%}<br />
                                Reputation: {%=o.Users[i].Reputation%}
                            </div>
                        </div>
                    </div>
                </div>
            {% } 
        %}

</script>