﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WorldRemit</title>
    <!-- Style -->
    <link rel="stylesheet" href="~/Assets/dist/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/dist/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Assets/dist/jqueryui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie|Roboto">
    <link rel="stylesheet" href="~/Assets/css/site.min.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">Technical Test for WorldRemit</div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    @Html.Partial("_Dialog");

    <!-- Scripts -->
    <script src="~/Assets/dist/jquery/jquery.min.js"></script>
    <script src="~/Assets/dist/jqueryui/jquery-ui.min.js"></script>
    <script src="~/Assets/dist/bootstrap/bootstrap.min.js"></script>
    <script src="~/Assets/dist/tmpl/tmpl.min.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("templates", required: false)
</body>
</html>
