﻿
.panel {

    &.panel-default {
        width: 30%;
        float: left;
        margin-left: 2%;
        cursor: pointer;

        &:hover {
            background-color: $yellow;
        }
    }
}